
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Logout</title>
    <style>
    header, footer {
      padding: 1em;
      color: black;
      background-color: #ccddff;
      clear: left;
      text-align: center;
    }
    .w3-btn {margin-bottom:10px;}
    </style>
  </head>
  <body style="background-color:gray">
    <header>
    <h1>Logged out!</h1>

    <button><a href="/login" >Login again.</a></button>
    <!-- <button class="w3-button w3-white w3-border w3-border-red w3-round-large" href="login">Login again</button> -->
</header>
  </body>
</html>
